* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header {

    padding: 30px 0;
    /* height: 80px; */

}

#nav-bar {
    background-color: #f4f4f4;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-elements {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

li{
    list-style: none;
}

a {
    padding: 15px;
    text-decoration: none;
    color: #303030;
    font-size: 16px;
}

#video-section {
    margin-top: 10px;
}

.logo img {
    width: 40px;
}

#product-details {
    margin: 60px;
}

#product-details h2 {
    display: inline-block;
    font-size: 30px;
    margin-bottom: 20px;
}

#product-details p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 160%;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-wrapper h1 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.form-wrapper input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-wrapper input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #303030;
    color: #fff;
}
/*
@media screen and (min-width: 768px) {
    #video-section {
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    video {
        display: block;
    }

}*/